@model Indotalent.Operation.TerminationPrintData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = "_LayoutNoNavigation";
}

<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Termination: @Model.Header.Number
                <small class="pull-right">Print at: @DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Termination Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Termination Date:</td>
                        <td>@Model.Header.TerminationDate.Value.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Effective Date:</td>
                        <td>@Model.Header.EffectiveDate.Value.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>@Model.Header.Description</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Employee Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Name:</td>
                        <td>@Model.Header.EmployeeName</td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>@Model.Header.DepartmentName</td>
                    </tr>
                    <tr>
                        <td>Branch:</td>
                        <td>@Model.Header.BranchName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Reason Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Termination Reasons:</td>
                        <td>@Html.Raw(Model.Header.TerminationReason)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Returned Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Returned Items:</td>
                        <td>@Html.Raw(Model.Header.ReturnedItem)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Form Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Completed Forms:</td>
                        <td>@Html.Raw(Model.Header.CompletedForm)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
