@model Indotalent.Operation.AwardPrintData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = "_LayoutNoNavigation";
}

<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Award: @Model.Header.Name
                <small class="pull-right">Print at: @DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>@Model.Header.AwardeeName</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Award Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Date:</td>
                        <td>@Model.Header.Date</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>@Model.Header.Description</td>
                    </tr>
                    <tr>
                        <td>Reward:</td>
                        <td>@Model.Header.Reward</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Organization Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Branch:</td>
                        <td>@Model.Header.BranchName</td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>@Model.Header.DepartmentName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Achievement Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Achievement:</td>
                        <td>@Html.Raw(Model.Header.Achievement)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
