@model Indotalent.Attendance.PunchInPrintData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = "_LayoutNoNavigation";
}

<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                ATTENDANCE PUNCH IN
                <small class="pull-right">Print at: @DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>@Model.Header.EmployeeName</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Punch Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Date:</td>
                        <td>@Model.Header.PunchIn.Value.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Hour:</td>
                        <td>@Model.Header.InHour</td>
                    </tr>
                    <tr>
                        <td>Minute:</td>
                        <td>@Model.Header.InMinute</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                </div>
            </div>
        </div>
    </div>
</section>
