@model Indotalent.Recruitment.VacancyPrintData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = "_LayoutNoNavigation";
}

<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                VACANCY: @Model.Header.Number
                <small class="pull-right">Print at: @DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>@Model.Header.JobTitle</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Vacancy Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Job Title:</td>
                        <td>@Model.Header.JobTitle</td>
                    </tr>
                    <tr>
                        <td>Job Description:</td>
                        <td>@Model.Header.JobDescription</td>
                    </tr>
                    <tr>
                        <td>Opening Date:</td>
                        <td>@Model.Header.OpenDate.Value.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Closing Date:</td>
                        <td>@Model.Header.CloseDate.Value.ToShortDateString()</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Hiring Manager</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Name:</td>
                        <td>@Model.Header.HiringManagerName</td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>@Model.Header.HiringManagerDepartmentName</td>
                    </tr>
                    <tr>
                        <td>Branch:</td>
                        <td>@Model.Header.HiringManagerBranchName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h5>Requirements</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Requirement</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in Model.Requirements)
                            {
                                <tr>
                                    <td>@d.ShortNote</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h5>Benefits</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Benefit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in Model.Benefits)
                            {
                                <tr>
                                    <td>@d.ShortNote</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
